body {
    padding-top: 65px;
    height: 100%;
}

.overflow {
  position:absolute;
  top:0;
  left:170px;
  padding-top: 10px;
  white-space: nowrap;
}

.clickCounter {
    color: #ccc;
}

.highlight {
    background: yellow;
}

#flash, #spinner {
    display: none;
}

.wrapper {
    min-width: 800px;
    padding-left: 170px;
}

nav {
    position: absolute;
}

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 115px;
    height: 90%;
    margin-left: -100px;
    overflow: scroll;
    width: 150px;
}

#sidebar > table {
    margin-bottom: 0px;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#sidebar > table > tbody {
    overflow-y: auto;
    cursor: pointer;
}

#sidebar > table > tbody > tr:hover {
    background-color: yellow;
}