body {
    padding-top: 50px;
    height: 100%;
}

.overflow {
  position:absolute;
  top:0;
  left:170px;
  padding-top: 10px;
  white-space: nowrap;
}

.click-counter {
    color: #ccc;
    pointer-events: none;
}

.highlight {
    background-color: yellow;
}

.highlight.selected {
    background-color: aqua;
}

#flash, #spinner {
    display: none;
}

#main-wrapper {
    min-width: 800px;
    padding-left: 170px;
    padding-top: 15px
}

#sidebar-wrapper {
    position: fixed;
    padding-top: 15px;
    width: 175px;
    height: 100%;
    background:white;
    z-index:1000;
}

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 115px;
    height: 90%;
    margin-left: -100px;
    overflow: auto;
    width: 150px;
}

#sidebar > table {
    margin-bottom: 0px;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#sidebar > table > tbody {
    overflow-y: auto;
    cursor: pointer;
}

#sidebar > table > tbody > tr:hover {
    background-color: yellow;
}

#sidebar > table > tbody > tr.highlight {
    background-color: yellow;
}
